.profilepicture {
  border-radius: 20px;
}

.bighello {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.bighelloright {
  margin-left: 20px;
}

.bighellotitle {
  font-size: 50px;
  margin-top: 12px;
  margin-bottom: 10px;
}

.icons {
  display: flex;
}

.icon {
  padding-right: 10px;
}